<h1>New Ticket Raised</h1>
<p>Hello <%= @ticket.assigned_to.name %>,</p>
<p>A new ticket has been raised regarding <%= @ticket.subject %>.</p>
<p>Here are the details:</p>
<ul>
  <li><strong>Subject:</strong> <%= @ticket.subject %></li>
  <li><strong>Description:</strong> <%= @ticket.description %></li>
  <li><strong>Priority:</strong> <%= @ticket.priority %></li>
  <li><strong>Due Date:</strong> <%= @ticket.due_date %></li>
</ul>
<%= image_tag attachments['image.jpg'].url %>
<p>You can view the ticket by following this link:</p>
<p><a href="<%= ticket_url(@ticket) %>"><%= ticket_url(@ticket) %></a></p>
<p>Thanks</p>