<div id="collapse1" style="overflow-y:scroll; height:365px;">
  <table class="table  table-striped" style="background:#CBF3F0 ">
    <thead>
      <tr>
        <th> Subject </th>
        <% if tickets.first.creator == current_user  %>
          <th> Assigned to </th>
        <% else %>
          <th> Assigned By </th>
        <% end %>
        <th> Priority </th>
        <th> Status </th>
      </tr>
    </thead>
    <tbody>
    <% tickets.each do |ticket| %>
        <tr onclick="location.href='<%= ticket_path(ticket)%>'"  >
          <td><%= link_to ticket.subject, ticket %></td>
          <% if tickets.first.creator == current_user  %>
            <td><%= ticket.assigned_to.name %></td> 
          <% else %>
            <td><%= ticket.creator.name %></td> 
          <% end %>
          <td><%= ticket.priority %></td> 
          <td><%= ticket.status %></td> 
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
