<div id="collapse1" style="overflow-y:scroll; height:365px;">
  <table class="table  table-striped" style="background:#CBF3F0 ">
    <thead>
      <tr>
        <th> Subject </th>
        <% if tickets.first.creator == current_user  %>
          <th> Assigned to </th>
        <% else %>
          <th> Assigned By </th>
        <% end %>
        <th> Priority </th>
        <th> Status </th>
      </tr>
    </thead>
    <tbody>
    <% tickets.each do |ticket| %>
        <tr onclick="location.href='<%= ticket_path(ticket)%>'"  >
          <td><%= link_to ticket.subject, ticket %></td>
          <% if tickets.first.creator == current_user  %>
            <td><%= ticket.assigned_to.name %></td> 
          <% else %>
            <td><%= ticket.creator.name %></td> 
          <% end %>
          <% if ticket.priority == "High"%>
            <td><span class="badge" style="background: red; color: white;"><%= ticket.priority %></span></td>
          <% elsif ticket.priority == "Medium" %>
            <td><span class="badge" style="background: green; color: white;"><%= ticket.priority %></span></td>
          <% else %>
            <td><span class="badge" style="background: green; color: white;"><%= ticket.priority %></span></td>
          <% end %>

          <% if ticket.status == "open"%>
            <td><span class="badge" style="background: green; color: white;">Open</span></td>
          <% elsif ticket.status == "in_progress" %>
            <td><span class="badge" style="background: lightgreen; color: white;">In Progress</span></td>
          <% elsif ticket.status == "rejected" %>
            <td><span class="badge" style="background: red; color: white;">Rejected</span></td>
          <% elsif ticket.status == "closed" %>
            <td><span class="badge" style="background: red; color: white;">Closed</span></td>
          <% elsif ticket.status == "re_open" %>
            <td><span class="badge" style="background: green; color: white;">Re Opened</span></td>
          <% else %>
            <td><span class="badge" style="background: lightyellow; color: white;"><%= ticket.status %></span></td>
          <% end %>
          <%# <td><%#= ticket.status %></td> %>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
