<div id="user-id" data-user-id=" <%= current_user.id %> "> </div>
<div id="ticket-id" data-ticket-id=" <%= @ticket.id %> "> </div>

<div class="container-fluid" style="background:#FFBF69; padding:20px; border-radius:12px">
  <div class="row">
    <div class="col-5 rooms-sidebar">
        <div class="card-body" style="background: #CBF3F0; border-radius:20px ">
          <h2 class="text-center">Ticket Details</h2>
          <p class="lead">
            <strong> Subject : </strong> <%= @ticket.subject %> 
          </p>
          <p class="lead">
            <strong> Description : </strong> <%= @ticket.description %> 
          </p>
          <p class="lead">
            <strong> Due Date : </strong> <%= @ticket.due_date %> 
          </p>
          <p class="lead">
            <strong> Priority : </strong> <%= @ticket.priority %> 
          </p>
          <% if current_user.id == @ticket.creator_id %>
            <p class="lead">
              <strong> Assigend to : </strong> <%= @ticket.assigned_to.name %> 
            </p>
          <%else%>
            <p class="lead">
              <strong> Assigend By : </strong> <%= @ticket.creator.name %> 
            </p>
          <%end%>
          <%= render 'documents_attached', { model_instance: @ticket }%>
          <br>
          <%= render 'trasistions_button', { ticket: @ticket }%> 
          <%= render 'ticket_histroies/time_line.html', { ticket_assigned_history: @ticket_assigned_history } %>
        </div>
    </div>
    <div class="col-7" style="background: #CBF3F0; border-radius:20px ; max-height: 500px"  >
        <% if @ticket.present? %>
          <div class="chat-room">
            <nav class="navbar navbar-light">
              <span class="navbar-brand" href="#">
                <b><%= @ticket.subject %></b>
              </span>
            </nav>
            <div id="collapse1" style="overflow-y:scroll; height:300px;"> 
              <div id="messages">
                <%= render 'messages/message', ticket: @ticket%>
              </div>
            </div>    
            <div class="chat-box">
              <%= form_with(model: [@ticket , @ticket.messages.build]) do | f |%>
                <p>
                <br>
                <%= f.label :documents,"Attach Document", class:"form-label" %>
                <%= f.file_field :documents, multiple: true, class: "form-select"%>
                <%= f.text_field :content,id: 'message_content', class: 'form-control', style:"width:84%; display: inline-block;"%> 
                <%#= f.hidden_field :user_id , required: true,  value:current_user.id %>
                <%= f.submit "Send",data: { disable_with: false }, class:"btn btn-primary", id:"send" %>
                </p>
              <% end %>
            </div>
          </div>
        <% end %>
    </div>
  </div>
</div>

<%= @ticket_history %>

<script>
  $('#collapse1').stop().animate ({
    scrollTop: $('#collapse1')[0].scrollHeight
  });

  $("#send").click(function() {
    $("#collapse1").stop().animate ({ 
      scrollTop: $("#collapse1")[0].scrollHeight
      }, 500);
  });
</script>